<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="intro-header-login">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                    <div class="intro-message-login">
                        <p style="font-size: 50px; color: #3aba35; text-align: center"><b>$plittr</b></p>
                        <p style="font-size: 15px; color: #000000; text-align: center">The Zach Blais Project</p>
                        <hr class="intro-divider">
                    </div>
              </div>
            </div>
        </div>
</div>
<div class="intro-header-form">
  <div class="container">
    <div class="row>">
      <div class="col-lg-12">
  <h1>Create Group</h1>
  <form action="" method="post" name="creategroup">
      {{ form.hidden_tag() }}
      <p>
          Group name:<br>
          {{ form.groupname(size=80) }}<br>
      </p>
      <p>
          Please enter something:<br>
          {{ form.field2(size=80) }}<br>
      </p>
      <p><input type="submit" value="Create Group"></p>
  </form>
  </div>
  </div>
  </div>
  </div>
  
{% endblock %}