<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<script>
function updateDebts(user_id, multiplier) {
  $.post( "update", { user: user_id, value: $('#' + user_id).val() } );
  window.location.reload()
}
</script>
<div class="intro-header-login">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                    <div class="intro-message-login" id="textbox">
                    <div id="textbox" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px; height:29px; float: right"><a href="/logout/" class="btn btn-danger btn-lg outline">Logout</a></div>
                       
                        <div style="font-size: 50px; color: #3aba35;" class="newcontainer"><b>$plittr</b></div>
                        
                        
                        <p style="font-size: 15 px; color: #000000; text-align: center">The Zach Blais Project</p>
                        <hr class="intro-divider">
                    </div>
              </div>
            </div>
        </div>
</div>

<div class="intro-header">
  <div class="container">
    <div class="row>">
      <div class="col-lg-12">
       <p style="padding-bottom:20px"><a href="/" class="btn btn-warning lil"><span class="subtle-button">Back To Groups</span></a></p>
  <h1>{{ groupname }}</h1>
  <form action='add_member' method='post'>
    <div>
        <label style="color: black" for="user_id">Add Member:</label>
        <input type="text" id="name" name="new_user" style="color: black"/>
    </div>
    <div class="button">
        <button style="color: black" type="submit">Add to group</button>
    </div>
	</form>
	<p></p>
	<table class="table table-striped newcontainer" style="width: 700px" >
	  <tr>
	    <th style="color: black">Member</th>
	    <th style="color: black">$ owed to you</th>
	    <th style="color: black">Transaction</th>
	  </tr>
	  {% for member in members %}
	  <tr style="text-align: left">
	    <td style="color: black" style="width: 125px">{{ member.name }}</td>
	    <td style="color: black" style="width: 20px">{{ member.money }}</td>
	    <td style="width: 275px">
	    	<p style="margin-bottom: 0px">
            <input type="text" id='{{ member.id }}' name="new_user" style="color: black; width: 100px"/>
                <a href="#" onclick='updateDebts("{{ member.id }}", 1);' class="btn btn-info lil" style="width:75px"><span class="subtle-button">Paid</span></a>
                <a href="#"  onclick='updateDebts("{{ member.id }}", -1);' class="btn btn-info lil" style="width:75px"><span class="subtle-button">Owed</span></a>
	    	</p>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
  

    <p style="padding-bottom:20px"><a href="/index" class="btn btn-danger lil"><span class="subtle-button">Delete Group</span></a></p>
    </div>
    </div>
    </div>
    </div>


{% endblock %}

