<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="intro-header-login">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                    <div class="intro-message-login" id="textbox">
                    <div id="textbox" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px; height:29px; float: right"><a href="/logout/" class="btn btn-danger btn-lg outline">Logout</a></div>
                        
                        <div style="font-size: 50px; color: #3aba35;" class="newcontainer"><b>$plittr</b></div>
                        
                        
                        <p style="font-size: 15 px; color: #000000; text-align: center">The Zach Blais Project</p>
                        <hr class="intro-divider">
                    </div>
              </div>
            </div>
        </div>
</div>
<div class="intro-header">
  <div class="container">
    <div class="row>">
      <div class="col-lg-12">
  <h1 style="padding-bottom : 10px">{{ username }}'s groups</h1>
  <p style="padding-bottom:20px"><a href="/creategroup" class="btn btn-success btn-sm"><span class="network-name">Create Group</span></a></p>
    {% for group in groups %}
      <h3 style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px; height:29px"><a href="/group/{{ group._id }}/" class="btn btn-primary btn-lg sharp"> {{ group.groupname }}</a></h3>
    {% endfor %}
</div>
</div>
</div>
</div>
{% endblock %}
